*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:'Poppins',sans-serif;

background:#f7f2eb;

padding:30px 15px;

overflow-y:auto;

}

/* CARD */

.card{

max-width:650px;

margin:auto;

background:white;

padding:45px;

border-radius:30px;

text-align:center;

box-shadow:0 15px 45px rgba(0,0,0,.12);

}

/* FOTO */

.photo{

width:220px;

height:220px;

margin:auto;

border-radius:120px 120px 20px 20px;

overflow:hidden;

border:5px solid #d6b177;

}

.photo img{

width:100%;

height:100%;

object-fit:cover;

}

h3{

margin-top:25px;

color:#9b7a4d;

font-weight:500;

}

h1{

font-family:'Great Vibes';

font-size:70px;

color:#7b5832;

margin:20px 0;

font-weight:400;

}

p{

line-height:1.9;

color:#666;

max-width:520px;

margin:auto;

}

/* AMPOP */

.envelope{

width:240px;

margin-top:40px;

}

button{

margin-top:25px;

padding:15px 45px;

background:#a37a43;

color:white;

border:none;

border-radius:40px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

background:#896536;

}

/* SURAT */

#letter{

display:none;

margin-top:40px;

}

.paper{

max-width:700px;

margin:auto;

background:white;

padding:50px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.15);

text-align:center;

}

.paper h2{

font-size:30px;

color:#8c6333;

margin-bottom:20px;

}

.barcode{

margin:40px auto 20px;

width:220px;

display:block;

}

span{

color:#999;

}

/* RESPONSIVE */

@media(max-width:768px){

.card,
.paper{

padding:30px 20px;

}

.photo{

width:170px;

height:170px;

}

h1{

font-size:50px;

}

.barcode{

width:170px;

}

.envelope{

width:180px;

}

}